name: Industrialisation continue sur le serveur Alwaysdata

on: 
  push:
    branches: [ main, master ] # S'exécute sur main ou master

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. GitHub récupère ton code sur la machine temporaire (Runner)
      - name: Checkout du code
        uses: actions/checkout@v4

      # 2. On copie les fichiers du Runner vers Alwaysdata via SCP (Copie sécurisée)
      - name: Copie des fichiers sur le serveur
        uses: appleboy/scp-action@master
        with:
          host: "ssh-${{ secrets.USERNAME }}.alwaysdata.net"
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          source: "."
          # On cible le dossier flask. Attention à bien avoir créé /www/flask comme demandé dans le TD
          target: "/home/${{ secrets.USERNAME }}/www/flask"

      # 3. On redémarre le site via l'API Alwaysdata
      - name: Restart Alwaysdata site
        run: |
          response_code=$(curl -s -o /dev/null -w "%{http_code}" -X POST --basic --user "${{ secrets.ALWAYSDATA_TOKEN }}:" https://api.alwaysdata.com/v1/site/${{ secrets.ALWAYSDATA_SITE_ID }}/restart/)
          
          if [ "$response_code" -eq 204 ]; then
            echo "✅ Site redémarré avec succès."
          else
            echo "❌ Échec du redémarrage. Code réponse : $response_code"
            exit 1
          fi
